!!!
%html
  %head
    %title Instatogo
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    %nav.navbar.navbar-default
      .container
        .navbar-brand=link_to "Instatogo", root_path
        - if user_signed_in?
          %ul.nav.navbar-nav.navbar-right
            %li= link_to "Nouveau post", new_post_path
            %li= link_to "Mon compte", user_path(current_user)
            %li= link_to "Déconnexion", destroy_user_session_path, method: :delete
        - else
          %ul.nav.navbar-nav.navbar-right
            %li= link_to "S'inscrire", new_user_registration_path
            %li= link_to "Connexion", new_user_session_path

    .container
      .col-md-8.col-md-offset-2
        %p.notice= notice
        %p.alert= alert
      = yield